
.studies .cards-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .studies .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .studies .card_revert {
    flex-direction: row-reverse;
  }
  
  .studies .card + .card {
    margin-top: 80px;
  }
  
  .studies .card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 405px;
    padding:0 15px;
  }
  
  .technology {
    padding: 0 10px;
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.01em;
    border-radius: 60px;
  }
  
  .technology_color_orange {
    color: var(--color-orange);
    background: #fff6e9;
  }
  
  .technology_color_blue {
    color: var(--color-blue);
    background: #d0e6ff;
  }
  
  .technology_color_turquoise {
    color: var(--color-turquoise);
    background: #e0fff8;
  }
  
  .studies .card-title {
    margin-bottom: 10px;
  }
  
  .studies .card p {
    margin-bottom: 40px;
  }
  
  .studies .card img {
    width: 445px;
    object-fit: contain;
  }
  